.customSearch {
    display: flex;
    justify-content: right;
    width: 30%;
    margin: 10px;
}

.imgClass {
    width: 100%;
    margin: 10px;
}

.imgClass:hover {
    cursor: pointer;
}

.row {
    margin: 10px;
}

.loginClass {
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

label {
    display: flex;
    justify-self: left;
}

.loginH1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.submitButton {
    width: 100px;
    background-color: rgb(32, 32, 32);
    color: rgb(175, 175, 175);
}

.submitButton:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}

/* title info page specific */
#titleInfoDescH1 {
    font-weight: bolder;
    font-size: 450%;
}

#titleInfoImgDiv {
    margin-right: 30px;
}

#titleInfoImg:hover {
    cursor:default;
}

#titleInfoDescRel {
    font-size: small;
}

#titleInfoDesc {
    margin-top: 10px;
    font-size: large;
}